@{
    ViewData["Title"] = "Admin";
}

@model Recepti_12b_ASP.Models.Recipe
<h1>Create</h1>
<form method="post" asp-action="SecretPage">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-12">
            <div class="form-group row">
                <label class="col-3 form-control m-1" asp-for="DishName"></label>
                <label class="col-3 form-control m-1" asp-for="ImageURL"></label>
                <label class="col-3 form-control m-1" asp-for="RequiredProducts"></label>
                <label class="col-3 form-control m-1" asp-for="CookDescription"></label>
                <label class="col-3 form-control m-1" asp-for="PrepareMinutes"></label>
                <label class="col-3 form-control m-1" asp-for="CookMinutes"></label>
            </div>
            <div class="form-group row">
                <input class="col-3 form-control m-1" asp-for="DishName" />
                <input class="col-3 form-control m-1" asp-for="ImageURL" />
                <input class="col-3 form-control m-1" asp-for="RequiredProducts" />
                <input class="col-3 form-control m-1" asp-for="CookDescription" />
                <input class="col-3 form-control m-1" asp-for="PrepareMinutes" />
                <input class="col-3 form-control m-1" asp-for="CookMinutes" />
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <button type="submit" class="col-3 btn btn-success m-1">Save</button>
                <button asp-action="Index" class="col-3 btn btn-danger m-1">Back</button>
            </div>
        </div>
    </div>
</form>